
#Editors special folders
.vscode/
.vs/
#Editors special folders

#Projects
MVVM/bin/
MVVM/obj/

Helpers/bin/
Helpers/obj/

Converters/bin/
Converters/obj/

CustomStructures/bin/
CustomStructures/obj/

Testing/bin/
Testing/obj/
#Projects